// colors

$body-color: #F6F6F6;

$primary-color: #D83939;

$primary-color-light: #d85151;

$secondery-color: #292B31;

$secondary-color-light: #777E90;

$delivery-color: #519D62;

$footer-color: #303030;

$contrast-color: #ffffff;

// font-family
$font-family: "Roboto", sans-serif;
